.image--photo {
  width: 70%;
  display: block;
  margin-left: auto; 
  margin-right: auto;
}

.container {
  background-color: rgb(106, 136, 192);
  border: rgb(83, 124, 199);
  border-style: hidden;
}

.name {
  color: rgb(219, 215, 215);;
  font-family: 'Times New Roman', Times, serif;
  font-size: 35px;
}

.title {
  color: black;
  font-family: 'Times New Roman', Times, serif;
  font-size: 28px;
}

.title_studies {
  font-family: 'Times New Roman', Times, serif;
}

.list_studies {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.title_profile {
  font-family: 'Times New Roman', Times, serif;
}

.text--profile {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.information {
  font-family: 'Times New Roman', Times, serif;
}

.list_information--profile{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main_text {
  background-color: rgb(219, 215, 215);
}

.tile_esperience {
  background-color: rgb(219, 215, 215);
  font-family: 'Times New Roman', Times, serif;
}

.list_experience {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.title--studies {
  background-color: rgb(219, 215, 215);
  font-family: 'Times New Roman', Times, serif;
}

.list_studies {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.title--form{
  background-color: rgb(106, 136, 192);
  font-family: 'Times New Roman', Times, serif;
  color: rgb(219, 215, 215);
  text-align: center;
}

.contac_title {
  background-color: rgb(106, 136, 192);
  font-family: 'Times New Roman', Times, serif;
  color: rgb(219, 215, 215);
  text-align: center;
}

.image--tech {
  width: 900px;
  align-items: center;
  align-content: center;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
